{% extends "base.html" %}

{% block main %}

<div class="m-container">
  <div class="m-row"> <!-- header -->
    <div class="m-col-l-12">
      <div class="m-row">
        {% if R_NAME %}
          <div class="m-col-l-3">
          </div>
          <div class="m-col-l-6 header-name">
            {{ R_NAME.split(' ')[0] }} <b> {{ R_NAME.split(' ')[1] }} </b>
          </div>
          <div class="m-col-l-3">
          </div>
        {% else %}
          R_NAME
        {% endif %}
      </div>
      <div class="m-row">
        {% if R_DESC and R_MAIL %}
          <div class="m-col-l-12 header-desc">
            {{ R_DESC }}, {{ R_MAIL }}
          </div>
        {% else %} R_DESC, R_MAIL {% endif %}
      </div>
    </div>
  </div>
  <div class="m-row"> <!-- content -->
    <div class="m-col-l-2"> <!-- sidebar -->
      <div class="m-row sidebar-title">
        social
      </div>
      <div class="m-row">
        {% if R_LINKEDIN %}
        <a class="m-col-l-12 m-nopad" href="http://{{ R_LINKEDIN }}">{{ R_LINKEDIN }}</a>
        {% else %}
          R_LINKEDIN
        {% endif %}
      </div>
      <div class="m-row">
        skype: {% if R_SKYPE %} {{ R_SKYPE }} {% else %} R_SKYPE {% endif %}
      </div>

      <div class="m-row">
        &nbsp;
      </div>
      <div class="m-row sidebar-title">
        scopus
      </div>
      <div class="m-row">
        Total papers: {% if R_TOT_PAPERS %} {{ R_TOT_PAPERS}} {% else %} R_TOT_PAPERS {% endif %}
      </div>
      <div class="m-row">
        Citations: {% if R_CITATIONS %} {{ R_CITATIONS }} {% else %} R_CITATIONS {% endif %}
      </div>
      <div class="m-row">
        H-index: {% if R_H_INDEX %} {{ R_H_INDEX }} {% else %} R_H_INDEX {% endif %}
      </div>

      <div class="m-row">
        &nbsp;
      </div>
      <div class="m-row sidebar-title">
        languages
      </div>
      {% for lang in R_LANGUAGES %}
      <div class="m-row">
        <div class="m-nopad m-col-t-7"> {{ lang['name'] }} </div>
        {% for a in range (0, lang['level']) %}
          <div class="m-nopad m-col-t-1"> &#9733; </div>
        {% endfor %}
        {% for a in range (0, lang['black']) %}
          <div class="m-nopad m-col-t-1"> &#9734; </div>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="m-row">
        &nbsp;
      </div>

      <div class="m-row sidebar-title">
        skills
      </div>
      {% for lang in R_PROGRAMMING %}
      <div class="m-row">
        <div class="m-nopad m-col-t-7"> {{ lang['name'] }} </div>
        {% for a in range (0, lang['level']) %}
          <div class="m-nopad m-col-t-1"> &#9733; </div>
        {% endfor %}
        {% for a in range (0, lang['black']) %}
          <div class="m-nopad m-col-t-1"> &#9734; </div>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="m-row">
        &nbsp;
      </div>

      <div class="m-row sidebar-title m-show-m">
        oss
      </div>

      <div class="m-row m-show-m">
        <img class="m-col-l-6" style="display: block; margin-left: auto; margin-right: auto; width: 70%;" src="{{ SITEURL }}/images/qt.png" />
      </div>
      <div class="m-row m-show-m">
        <img class="m-col-l-6" style="display: block; margin-left: auto; margin-right: auto; width: 100%;" src="{{ SITEURL }}/images/ns3.png" />
      </div>
      <div class="m-row m-show-m">
        <a href="https://github.com/natale-p">
          <img class="m-col-l-6" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{{ SITEURL }}/images/github.jpg" />
        </a>
      </div>

    </div>

    <div class="m-clearfix-s"></div>

    <div class="m-col-l-1">
      &nbsp;
    </div>

    <div class="m-col-l-9"> <!-- profile -->
      <div class="m-row sidebar-title">
        <span style="color: purple;">edu</span>cation
      </div>

      {% for edu in R_EDUCATION %}
        <div class="m-row">
          <div class="m-col-t-2 m-nopadb r-edu-date">
            {{ edu['date'] }}
          </div>
          <div class="m-col-t-4 m-nopadr m-nopadb r-edu-title">
            {{ edu['title'] }}
          </div>
          <div class="m-col-t-6 m-nopadl m-nopadb r-edu-where" style="text-align: right;">
            {{ edu['where'] }}
          </div>
        </div>
        <div class="m-row">
          <div class="m-col-t-10 m-push-t-2 m-nopadb m-nopadt r-edu-what">
            {{ edu['what'] }}
          </div>
        </div>
        <div class="m-clearfix-m"></div>
      {% endfor %}

      <div class="m-row sidebar-title">
        <span style="color: orange;">exp</span>erience
      </div>

      {% for job in R_JOBS %}
        <div class="m-row">
          <div class="m-col-t-2 m-nopadt m-nopadb r-edu-date">
            {{ job['date'] }}
          </div>
          <div class="m-col-t-4 m-nopadt m-nopadb r-edu-title">
            {{ job['company'] }}
          </div>
          <div class="m-col-t-6 m-nopadl m-nopadt m-nopadb r-edu-where" style="text-align: right;">
            {{ job['job_title'] }}
          </div>
          <div class="m-col-t-10 m-nopadt r-edu-what">
            {{ job['details'] }}
          </div>
        </div>
        <div class="m-clearfix-m"></div>

      {% endfor %}

      <div class="m-row sidebar-title">
        <span style="color: green;">awa</span>rds
      </div>

      {% for award in R_AWARDS %}
        <div class="m-row">
          <div class="m-col-t-2 m-nopadt m-nopadb r-edu-date">
            {{ award['date'] }}
          </div>
          <div class="m-col-t-10 m-nopadt m-nopadb r-edu-title">
            {{ award['award_title'] }}
          </div>
          <div class="m-col-t-10 m-nopadt m-push-t-2 r-edu-what">
            {{ award['details'] }}
          </div>
        </div>
        <div class="m-clearfix-m"></div>

      {% endfor %}

      <div class="m-row sidebar-title">
        <span style="color: blue; ">cert</span>ificates
        <div class="m-row">
          <img class="m-col-l-6" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{{ SITEURL }}/images/Architecting_aws.png" />
          <img class="m-col-l-6" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{{ SITEURL }}/images/Running_aws.png" />
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
