.header-name {
  font-size: 60px;
  text-align: center
}

.header-desc{
  text-align: center;
  margin-top: -40px;
}

.sidebar-title {
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
}

.r-edu-date {
}

.r-edu-title {
  font-weight: bold;
}

.r-edu-where {
  color: grey;
  text-size: 15px;
  text-align: center;
}

.r-edu-what {
  font-style: italic;
}
